<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>speedpackcore</name>
    <displayName><![CDATA[SpeedPack Core]]></displayName>
    <version><![CDATA[1.7.3]]></version>
    <description><![CDATA[Speed-ups in one module: Redis, APCu or Memcached data cache, pages fetched before the click, menu clicks without a reload, instant cart changes and a lighter cart page.]]></description>
    <author><![CDATA[Alhambra]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
